<div class="row">
  <div class="col-md-4">
    <h1 class="text-center"><%= @user.email if @user %></h1>
    <h4>Your last login was <%= time_ago_in_words(@user.last_sign_in_at) %> ago.</h4>
    <p><%= link_to 'Change Your Password', edit_user_registration_path %></p>
    <p>Total Lists: 5</p>
    <p>Total Items: 32</p>
    <p>Expiring Items: 4</p>
  </div>
  <div class="col-md-4 text-center">
    <div class="panel panel-primary panel-shadow no-overflow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-3">
            <i class="fa fa-list fa-4x"></i>
          </div>
          <div class="col-sm-9 text-right">
            <div class="font-2x">You Have <code>5</code> Lists</div><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <button type="button" class="btn btn-default btn-block">Name of List 1</button>
            <button type="button" class="btn btn-default btn-block">Name of List 2</button>
            <button type="button" class="btn btn-default btn-block">Name of List 3</button>
            <button type="button" class="btn btn-default btn-block">Name of List 4</button>
            <button type="button" class="btn btn-default btn-block">Name of List 5</button>
            <button type="button" class="btn btn-default btn-block">Name of List 6</button>
            <button type="button" class="btn btn-default btn-block">Name of List 7</button>
            <button type="button" class="btn btn-default btn-block">Name of List 8</button>
            <button type="button" class="btn btn-default btn-block">Name of List 9</button>
            <button type="button" class="btn btn-default btn-block">Name of List 10</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">

  </div>
</div>