<div class="row">
  <div class="col-md-6 col-xs-12">
    <%= image_tag('svg/weekly_calendar.svg', width: '100%') %>
  </div>
  <div class="col-md-6 col-xs-12">
    <h1>GetItDone Premium</h1>
    <h4>
      <ul>
        <li>Email reminders every 24 hours</li>
        <li>Invite others to view and/or manage your list(s)</li>
        <li>Synchronize with your favorite mail program</li>
        <li>Have Watson do your tasks for you!</li>
        <li>... and MORE!</li>
      </ul>
    </h4>
  </div>
</div>
