<div class="row">
  <section class="section_container clearfix">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 text-center" id="main_logo_box">
          <h1 class="pacifico">GetItDone</h1>
          <h3 class="farsan">The Self Destructing ToDo List!</h3>
        </div>
      </div>
      <div class="row">
        <div class="row working_demo_callout">
          <div class="col-md-2">
            <i class="fab fa-expeditedssl fa-3x"></i>
          </div>
          <div class="col-md-10">
            <p>To login and explore this working demo, login with:<br>
              Email: <code>test@getitdone.com</code><br>
              Password: <code>helloworld</code></p>
          </div>
        </div>
        <div class="col-md-12">
          <p>Are you always rewriting your ToDo Lists? Are they filled with things you'll never get to?  Or is your list filled with tasks you'll never "have time for"?  Let <strong><em>GetItDone</em></strong> help you out!  With our ToDo List, your tasks will SELF DESTRUCT after seven days.  No more hunting through pointless tasks to get to the important things that need to be done!</p>
          <%= link_to "Sign Up Today!", new_user_registration_path, class: "btn btn-lg btn-primary btn-block", role: "button" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag('svg/todo_clipboard_check.svg', style: "max-width: 80%") %>
    </div>
  </section>
  <section class="clearfix">
    <div class="col-md-6 col-md-offset-3" id="sample_todo">
      <h1>ToDo List</h1>
      <hr>
        <p><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Find <span class="pacifico">GetItDone</span>.</p>
      <p><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Be amazed!</p>
      <p><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Sign Up For Awesomeness!</p>
      <p><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Become a maven at getting things done!</p>
    </div>
  </section>
</div>
