// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  margin: 25px 10px;
  text-align: justify;
  font-size: 2em;

  p {
    font-size: 0.7em;
  }
}

section.section_container {
  padding: 50px 0px;
}

h1.pacifico {
  font-size: 4em;
  color: red;
}

h3.farsan {
  font-size: 2em;
  color: blue;
}




.farsan {
  font-family: 'Farsan', cursive;
}

.odd {
  background-color: lightgray;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.panel {
   max-height: 20vh;
}

.panel-shadow {
  box-shadow: 5px 8px 15px 2px #535353;
}

.working_demo_callout {
  box-sizing: border-box;
  background-color: rgb(255, 187, 0);
  border-radius: 10px;
  border: solid 1px rgb(255, 166, 0);
  margin-bottom: 10px;
  box-shadow: 1px 5px 10px;
  padding: 10px;
}


#main_logo_box {
  h1.pacifico {
    border-bottom: solid 1px black;
  }

  h3.farsan {
    font-size: 1.5em;
    margin: -5px 0 25px 65px;
  }
}

#sample_todo {
  margin-top: 8rem;
  .pacifico {
    color: red;
    font-size: 1.5em;
  }
  h1 {
    margin-top: 0;
    text-align: center;
  }
  border: solid 1px black;
  padding: 25px 10px;
  background-color: rgba(0, 49, 255, 0.25);
}